<h1>Workhorses#events</h1>
<% @events.each do |x| %>
	<div class="placemat">
	<div class="text_column">
		<%= x.title %><br><br><br><br><br><br><br><br>
		<%= x.time %><br>
		<%= x.duration %><br>
	</div>
	<div class="picture_column"><%= image_tag x.img %></div>
	</div>
<% end %>