<script>
	$(document).ready(function(){
		$( '#slider1' ).lemmonSlider();
	});
</script>

<div id="slider1" class="slider">
	<ul>
		<li><img src="http://static.squarespace.com/static/526df583e4b0a46a4604d41d/52773ef8e4b0a439bc1e3658/5277df70e4b069a82eaf340c/1383587738479/IMG_0974.JPG?format=750w" alt=""></li>
		<li><img src="http://static.squarespace.com/static/526df583e4b0a46a4604d41d/52773ef8e4b0a439bc1e3658/5277dface4b069a82eaf346d/1383587776224/Tutti1.jpg?format=500w" alt=""></li>
		<li><img src="http://static.squarespace.com/static/526df583e4b0a46a4604d41d/52773ef8e4b0a439bc1e3658/5277e033e4b0af356e29edaa/1383587903152/TUTTI%20DRUYAN1.jpg?format=500w" alt=""></li>
		<li><img src="http://static.squarespace.com/static/526df583e4b0a46a4604d41d/52773ef8e4b0a439bc1e3658/5277deb2e4b0c2eac22f44a2/1383587565825/IMG_0973.JPG?format=750w" alt=""></li>
		<li><img src="http://static.squarespace.com/static/526df583e4b0a46a4604d41d/52773ef8e4b0a439bc1e3658/5277de8ae4b0c2eac22f444f/1383587493214/Tutti2.jpg?format=500w" alt=""></li>
		<li><img src="http://static.squarespace.com/static/526df583e4b0a46a4604d41d/52773ef8e4b0a439bc1e3658/5277de76e4b0c2eac22f442c/1383587458014/DA2R1812.jpg?format=500w" alt=""></li>
	</ul>
</div>
<div class="controls">
	<button type="button" class="btn btn-default btn-lg prev-slide">
		<span class="icon-chevron-left"></span>
	</button>
	<button type="button" class="btn btn-default btn-lg next-slide">
		<span class="icon-chevron-right"></span> 
	</button>
</div>